input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
   color: rgba(0, 0, 0, 0); 
   opacity: 1;
   display: block;
   background: url('/img/calendar.svg') no-repeat 98% 50%; 
   /* width: 30px;
   height: 25px; */
   border-width: thin;
}
.form-group div{
    padding: 0;
}
label{background-color: rgb(146, 231, 231);}

/* #AirTable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
#AirTable::-webkit-scrollbar-track {
    background-color: #fff;
}
#AirTable::-webkit-scrollbar-thumb {
    background-color: #cce6ff;
} */

#AirTable thead tr th{
    background-color: rgb(146, 231, 231);
    color: #008686;
    white-space: nowrap;
}
#AirTable tbody tr td{
    white-space: nowrap;
}
.AirMarker{
 font-weight: bold;
}
.AirMarker:hover{
    cursor: pointer;
}
